---
// Components
// - Layout
import Layout from '../../layouts/Layout.astro'
// - UI
import Hero from '../../components/blocks/hero/PageHeader.astro'
import Section from '../../components/ui/Section.astro'
import Row from '../../components/ui/Row.astro'
import Col from '../../components/ui/Col.astro'
import Spacer from '../../components/ui/Spacer.astro'
import Button from '../../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
import Card from '../../components/ui/cards/partials/Card.astro'

// - SEO
const SEO = {
	title: 'Projects - FOSSIA',
	description:
		'Explore the projects done by FOSSIA -- from software to educational resources related to communities and inclusion and accessibility.'
}

import projects from '../../data/json-files/projectData.json'
import ProjectCard from '../../components/ui/cards/ProjectCard.astro'
---

<Layout title={SEO.title} description={SEO.description}>
	<Hero
		title="Projects"
		text="We work on impactful community projects focused on inclusion and accessibility"
	/>
	<Section>
		{
			projects.map((project) => {
				return (
					<ProjectCard
						name={project.name}
						id={project.id}
						description={project.description}
						docs={project.docs}
						repo={project.repo}
						blog={project.blog}
					/>
				)
			})
		}
	</Section>
</Layout>
